body {
  background-color: #fffdc3;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Cabeçalho */
header {
  font-family:"Dancing Script";
  background-color: #000000;
  color: white;
  padding: 15px;
  text-align: center;
}

/* Texto pequeno antes da imagem */
.descricao {
  text-align: center;
  font-size: 18px;
  margin: 20px;
  color: #444;
}

/* Imagem */
.content img {
  width: 400px;      /* tamanho da imagem */
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}

/* Rodapé */
footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}
  background-color: #fffdc3;
}

.content img {
  width: 200px;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 8px;
}

p {
  font-size: 20px;
}